@tailwind base;
@tailwind components;
@tailwind utilities;

.Montserrat {
  font-family: "Montserrat", sans-serif;
}
.Spoqa {
  font-family: "Spoqa Han Sans Neo", sans-serif;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("./fonts/SpoqaHanSansNeo-Regular.ttf");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("./fonts/SpoqaHanSansNeo-Medium.ttf");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo";
  src: url("./fonts/SpoqaHanSansNeo-Bold.ttf");
  font-weight: 700; /* Bold */
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the horizontal scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
  background: #fff; /* Light background */
  border-radius: 4px; /* Rounded corners */
}

/* Handle (the draggable scrolling element) */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.24); /* Darker color for contrast */
  border-radius: 4px; /* Rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5); /* Slightly darker on hover for feedback */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* Custom Radio Button Styles */
.radio-wrapper {
  position: relative;
}

.radio-wrapper input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}

.radio-wrapper .radio-custom {
  display: inline-block;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  border: 0px solid #ddd;
  position: relative;
  cursor: pointer;
  border-color: transparent;
  box-shadow: 0px 2px 5px 0px #0000001a inset;
}

.radio-wrapper input[type="radio"]:not(:checked) + .radio-custom::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
  border-color: transparent;
}

.radio-wrapper input[type="radio"]:checked + .radio-custom::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000aff; /* Checked color */
  border-radius: 100%;
  box-shadow: 0 0 0 3.5px white, 0 0 0 5px #000aff; /* Inner shadow effect */
}

.radio-wrapper input[type="checkbox"]:not(:checked) + .radio-custom::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
  background: transparent;
  border-radius: 50%;
  box-shadow: none;
  border-color: transparent;
}

.radio-wrapper input[type="checkbox"]:checked + .radio-custom::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  right: 6px;
  bottom: 6px;
  background: #000aff; /* Checked color */
  border-radius: 100%;
  box-shadow: 0 0 0 3.5px white, 0 0 0 5px #000aff; /* Inner shadow effect */
}

/* CustomStyles.css */
.ant-popover-inner {
  background-color: #000aff !important; /* Replace with your preferred blue color */
}

.ant-popover-inner-content {
  color: white; /* Change the text color if needed */
}

.ant-popover-inner {
  border-radius: 20px !important; /* Set this to the border-radius value you desire */
}

/* Change the modal content border-radius */
.ant-modal-content {
  border-radius: 24px !important; /* Set to your desired border-radius */
}

/* Change the modal mask (background overlay) opacity */
.ant-modal-mask {
  background-color: rgba(0, 0, 0, 0.75) !important; /* Set to your desired opacity, e.g., 0.75 for 75% */
}

/* CustomCheckbox.css */

.custom-checkbox .ant-checkbox-inner {
  border-radius: 50%; /* Circular border radius */
  content: none; /* Remove the check icon */
}

.custom-checkbox.ant-checkbox-checked .ant-checkbox-inner::after {
  content: none; /* Remove the check icon */
  background-color: #000aff; /* Blue background color */
  border-color: #000aff; /* Blue border color to match the background */
}

.custom-checkbox.ant-checkbox-checked .ant-checkbox-inner::after:hover {
  content: none; /* Remove the check icon */
  background-color: #000aff; /* Blue background color */
  border-color: #000aff; /* Blue border color to match the background */
}

/* Custom styles for the disabled dropdown menu items */
.ant-dropdown-menu-item-disabled.custom-disabled-item {
  opacity: 1 !important; /* Ensure the item is not dimmed */
  color: rgba(0, 0, 0, 1) !important; /* Set the text color to a standard value */
  background-color: red !important; /* Set a white background */
  cursor: pointer !important; /* Indicate the item is disabled */
}

/* Remove hover effect from all dropdown menu items */
.ant-dropdown-menu-item:hover {
  background-color: transparent !important; /* Remove any change in background */
  color: inherit !important; /* Keep the text color the same */
}

/* If you also want to remove the hover effect from disabled items specifically */
.ant-dropdown-menu-item-disabled:hover {
  background-color: transparent !important; /* Remove any change in background */
  color: inherit !important; /* Keep the text color the same */
}

/* Change border-radius of the Ant Design Dropdown menu */
.custom-dropdown-radius .ant-dropdown-menu {
  border-radius: 16px !important; /* Set to desired value */
}

.circle-animation-container {
  position: relative;
  /* width: 200px;
  height: 200px; */
}

.center-circle {
  position: relative;
  width: 240px; /* Size of the center circle */
  height: 240px; /* Size of the center circle */
  border-radius: 50%;
  backdrop-filter: blur(2px);
  background-color: #ffffff90;
  border-color: #ececec;
  border-width: 2px;
  z-index: 20;
}

.orbiting-circle {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
  width: 24px; /* Size of the orbiting circle */
  height: 24px; /* Size of the orbiting circle */
  background-color: #000aff;
  border-radius: 50%;
  animation: orbit 4s linear infinite;
  transform: translate(50%, 50%);
}

@keyframes orbit {
  0% {
    transform: rotate(0deg) translateX(120px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(120px) rotate(-360deg);
  }
}
